html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	vertical-align: middle;
}
body {
	background-color: cadetblue;
	color: white;
}
header {
	height: 5vh;
	border-bottom: 1px solid white;
	display: flex;
	justify-content: space-between;
	padding: 0 3rem;
	align-items: center;
}
a {
	text-decoration: none;
	color: white;
}
header nav a:not(:last-child) {
	margin-right: 1rem;
}
main {
	display: flex;
}
main nav {
	min-width: 200px;
	border-right: 1px solid white;
	display: flex;
	flex-flow: column;
}
main nav p {
	padding: .5em 0;
	text-align: center;
}
main nav p:nth-child(even) {
	background-color: rgb(72, 121, 122);
}
section {
	width: 100%;
	margin: 2rem;
	display: flex;
	flex-flow: column;
	align-items: space-between;
}
section h1 {
	align-self: center;
	margin-bottom: 2rem;
}
